# location: /etc/systemd/system/streaming.service

[Unit]
Description=Team 3256 Camera Streaming

[Service]
ExecStart=/home/pi/Gstreamer/Team3256streaming.sh
KillMode=process
Restart=on-failure
RestartSec=5
RestartPreventExitStatus=255
Type=simple
WorkingDirectory=/home/pi/Gstreamer

[Install]
WantedBy=multi-user.target
