# location: /etc/systemd/system/streaming.service

[Unit]
Description=Team 3256 Camera Streaming

[Service]
ExecStart=/home/pi/startstreaming.sh
KillMode=process
Restart=on-failure
RestartSec=5
RestartPreventExitStatus=255
Type=simple
WorkingDirectory=/home/pi/ #make sure this is the directory where the .sh file is located!!!

[Install]
WantedBy=multi-user.target
